/* Style the My account page for webshop users */
.page-template-page-my_account {
	.content {
		@apply prose-sm md:prose !max-w-full pb-8 xl:pb-16;

		header {
			@apply px-8 xl:px-32;

			& > h1 {
				@apply text-3xl lg:text-6xl text-ams-cyan font-bold my-4 lg:my-8;
			}
		}

		main {
			@apply px-8 xl:px-32 min-h-[250px] max-h-max;

			.woocommerce {
				@apply before:hidden after:hidden flex flex-col gap-8 lg:flex-row;
				/* style the navigation menu on the my account page */
				.woocommerce-MyAccount-navigation {
					@apply float-none w-full lg:basis-1/3 lg:shrink-0 lg:grow-0;
					ul {
						@apply pl-0 md:list-none;
						.woocommerce-MyAccount-navigation-link {
							@apply text-ams-dark ml-0 pl-0;
							&.is-active {
								@apply text-ams-cyan;
							}
							a {
								@apply text-inherit md:no-underline;
							}
						}
					}
				}
				/* Style the my account page content */
				.woocommerce-MyAccount-content {
					@apply w-full lg:basis-2/3 lg:shrink lg:grow-0;
					/* style woocommerce my account page notices */
					.woocommerce-notices-wrapper {
						@apply lg:col-span-full;

						/* style notices */
						.woocommerce-message {
							@apply border-t-2 
							border-t-ams-cyan 
							bg-ams-grey 
							text-ams-dark
							px-12
							py-4
							before:text-ams-cyan
							before:content-["\e015"]
							m-0;
						}
					}

					/* Style woocommerce MyAccount orders */
					/* style the table itself */
					.woocommerce-MyAccount-orders {
						@apply table-fixed
						lg:table-auto
						2xl:table-fixed 
						border 
						border-collapse 
						rounded-none 
						shadow-md
						lg:shadow-lg
						xl:shadow-xl;

						/* style table head */
						thead {
							@apply hidden lg:table-header-group;

							tr {
								@apply bg-ams-dark divide-x divide-ams-text_light;
								th {
									@apply text-ams-grey;
								}
							}
						}

						/* Style table body with the order data */
						tbody {
							@apply divide-y divide-ams-dark divide-solid lg:divide-y-0;

							/* style the table rows within the table body */
							tr,
							.woocommerce-orders-table__row {
								@apply divide-x lg:even:bg-ams-grey lg:odd:bg-white;

								/* style the table cell */
								.woocommerce-orders-table__cell {
									@apply even:bg-ams-grey 
									odd:bg-white 
									lg:even:bg-transparent 
									lg:odd:bg-transparent;

									& > a {
										@apply text-ams-cyan;
									}

									/* style this only for mobile and tablet in portrait mode this is the stiling for each table data head */
									&:before {
										@apply text-ams-dark;
									}

									/* style the order action button */
									&-order-actions {
										.button {
											@apply bg-ams-cyan 
											text-ams-dark 
											rounded-none 
											py-2.5 
											px-4 
											tracking-wide
											lg:px-8
											lg:py-3
											lg:tracking-normal
											hover:text-ams-grey
											hover:bg-ams-dark;
										}
									}
								}
							}
						}
					}

					/* style order details of single order */
					p {
						> mark {
							&.order-number,
							&.order-date,
							&.order-status {
								@apply bg-ams-yellow;
							}
						}
					}
					/* style the details section of the order */
					.woocommerce-order-details {
						&__title {
							@apply text-ams-cyan;
						}
						/* style the table containing the order details */
						& > .woocommerce-table {
							@apply rounded-none 
							border-collapse 
							shadow-md 
							lg:shadow-lg 
							xl:shadow-xl;

							thead {
								tr {
									@apply bg-ams-dark divide-x divide-ams-text_light;
									th {
										@apply text-ams-grey;
									}
								}
							}
							tbody {
								tr {
									@apply divide-x even:bg-ams-grey;
								}
							}
							tfoot {
								tr {
									@apply even:bg-ams-grey;
								}
							}
						}
						/* style View button */
						& > .button {
							@apply bg-ams-yellow 
							text-ams-dark 
							hover:bg-ams-dark
							hover:text-ams-grey
							rounded-none 
							py-2.5
							lg:py-3 
							px-4
							lg:px-8;
						}
					}

					.woocommerce-customer-details {
						& > .woocommerce-column__title {
							@apply text-ams-cyan;
						}

						address {
							@apply rounded-none 
							border 
							shadow-md
							lg:shadow-lg
							xl:shadow-xl;
							& > p {
								&.woocommerce-customer-details--phone,
								&.woocommerce-customer-details--email {
									@apply max-w-full break-words my-0;
								}
							}
						}
					}

					/* style adresses section */
					.woocommerce-Addresses {
						@apply w-full flex flex-col lg:flex-row lg:before:hidden lg:after:hidden lg:justify-between;

						.woocommerce-Address {
							.woocommerce-Address-title {
								@apply flex flex-row justify-between items-end before:hidden after:hidden px-0 my-2;
								> h3 {
									@apply text-ams-cyan basis-auto m-0;
								}
								.edit {
									@apply px-4 py-2 bg-ams-yellow text-ams-dark max-h-max h-min md:no-underline hover:text-ams-grey hover:bg-ams-dark;
								}
							}
						}
					}
				}
			}
		}
	}
}

