.woocommerce-shop {
	.content-area {
		@apply py-8 lg:py-16;
		main.site-main {
			@apply px-8 xl:px-32 space-y-4;

			.woocommerce-breadcrumb {
				@apply prose-sm md:prose text-ams-text_light;

				a {
					@apply no-underline;
				}
			}

			.woocommerce-products-header {
				&__title {
					@apply font-bold 
					text-3xl 
					lg:text-6xl 
					text-ams-cyan 
					mb-4 
					lg:mb-8;
				}

				/* Style page contents */
				.page-description {
					@apply prose-sm 
					md:prose
					prose-headings:text-ams-cyan
					md:prose-headings:text-ams-cyan
					prose-a:underline
					xl:prose-a:no-underline
					xl:hover:prose-a:underline 
					!max-w-full
					pb-0
					xl:relative
					before:hidden
					before:xl:block
					before:xl:absolute
					before:xl:top-0
					before:xl:-left-32
					before:xl:!w-24
					before:xl:!h-48
					after:hidden
					after:xl:block
					after:xl:absolute
					after:xl:bottom-0
					after:xl:-right-32
					after:xl:!w-24
					after:xl:!h-48;

					&:before,
					&:after {
						@apply bg-dots;
					}

					> .wp-block-columns {
						@apply grid grid-flow-row auto-rows-auto lg:grid-cols-2 lg:gap-x-8 xl:gap-x-16 2xl:gap-x-32 !items-start;
						.wp-block-column {
							@apply w-full min-h-full;
							> .wonderplugin-pdf-iframe {
								@apply min-h-[350px] md:min-h-[500px] xl:h-full;
							}
						}
					}
				}
			}

			.woocommerce-result-count {
				@apply prose-sm md:prose float-none md:float-left md:pb-4 lg:pb-8;
			}

			.woocommerce-ordering {
				@apply inline-block float-none md:float-right md:pb-4 lg:pb-8;
				.orderby {
					@apply focus:ring-2 focus:ring-ams-cyan focus:border-transparent;
				}
			}

			.products {
				@apply grid gap-8 md:gap-8 2xl:gap-16 before:hidden;

				&.columns-2 {
					@apply grid-cols-1 md:grid-cols-2 md:justify-items-center;
				}

				&.columns-3 {
					@apply grid-cols-1 md:grid-cols-2 lg:grid-cols-3;
				}

				&.columns-4 {
					@apply grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4;
				}

				.product {
					@apply prose-sm 
                    md:prose 
                    shadow-lg
                    xl:shadow-xl
                    py-4
                    px-4
                    md:py-8
                    lg:py-4
                    2xl:p-8
                    float-none
                    w-full
                    m-0
                    border
                    border-dashed
                    border-ams-dark;

					.woocommerce-loop-product__link {
						@apply no-underline;

						.attachment-woocommerce_thumbnail,
						.woocommerce-placeholder {
							@apply m-0 object-contain w-full;
						}

						.woocommerce-placeholder {
							@apply object-cover object-center;
						}

						.woocommerce-loop-product__title {
							@apply text-ams-cyan mt-4 mb-0;
						}

						.price {
							@apply m-0 text-base;
							.amount {
								@apply text-ams-dark;
							}
						}
					}

					.add_to_cart_button {
						@apply bg-ams-yellow 
						no-underline 
						text-ams-dark 
						rounded-none 
						py-2 
						px-4
						text-base
						xl:py-3
						xl:px-6
						hover:bg-ams-dark
						hover:text-ams-grey
						mr-4;
					}
					.added_to_cart {
						@apply text-base text-ams-dark hover:text-ams-cyan;
					}
				}
			}
		}
	}
}

