body,
.theme-VU-AMS {
	@apply bg-white font-heebo xl:overflow-x-hidden;

	.releases {
		@apply prose-sm md:prose mx-auto !max-w-full;

		&__current {
			@apply bg-ams-cyan
            border-b
            border-ams-grey
            py-4 px-8
            space-y-2
            md:space-y-0
            md:grid
            md:grid-cols-2
            text-center
            md:text-left;

			h3 {
				@apply mt-0 text-ams-dark;
			}

			& > a {
				@apply text-ams-dark hover:text-ams-grey md:mb-0 md:text-right;
			}

			.downloads {
				@apply flex
                flex-col
                md:flex-row
                items-center
                md:items-start
                justify-between
                space-y-2
                md:space-y-0
                md:col-span-2
                md:!mt-4;

				&__download {
					@apply text-ams-dark hover:text-ams-grey inline-flex flex-row gap-x-2 items-start;

					.brand-logo {
						@apply w-6 md:w-8 inline-block fill-current;
					}
				}
			}
		}

		&__opener {
			@apply p-4
            bg-ams-cyan
            !max-w-full
            prose-sm
            md:prose
            flex
            flex-row
            justify-around
            items-center
            md:justify-between
            md:py-4
            md:px-8
            select-none;

			h3 {
				@apply !m-0 text-ams-dark;
			}

			.opener-btn {
				@apply hover:cursor-pointer transform transition-transform ease-in-out duration-100;

				svg {
					@apply w-8 md:w-10 fill-ams-dark;
				}

				&--rotated {
					@apply transform rotate-180;
				}
			}
		}

		&__previous {
			@apply bg-ams-dark
            divide-y
            divide-ams-grey
            h-auto
            max-h-[500px]
            overflow-y-scroll
            transform
            scale-y-100
            transition-transform
            ease-in-out
            duration-100
            origin-top;

			&--closed {
				@apply transform scale-y-0 h-0;
			}

			.release {
				@apply py-4 px-8 space-y-2 md:space-y-0 text-center md:grid md:grid-cols-2 select-none;

				h4 {
					@apply mt-0 md:!m-0 text-ams-grey;
				}

				& > a {
					@apply text-ams-grey md:mb-0 hover:text-ams-cyan;
				}

				&__downloads {
					@apply flex
                    flex-col
                    md:flex-row
                    items-center
                    md:items-start
                    justify-around
                    space-y-2
                    md:space-y-0
                    md:col-span-2
                    md:!mt-4;

					a {
						@apply inline-flex
                        flex-row
                        gap-x-2
                        items-center
                        text-ams-grey
						hover:text-ams-cyan;

						.brand-logo {
							@apply w-6 md:w-8 inline-block fill-current;
						}
					}
				}
			}
		}
	}

	.recent_software-release {
		@apply prose-sm md:prose mx-auto max-w-none md:max-w-none;

		&__inner {
			@apply bg-ams-cyan
            border-b
            border-ams-grey
            py-4 px-8
            space-y-2
            md:space-y-0
            md:grid
            md:grid-cols-2
            text-center
            md:text-left;

			h3 {
				@apply mt-0 text-ams-dark;
			}

			& > a {
				@apply text-ams-dark hover:text-ams-grey md:mb-0 md:text-right;
			}

			.downloads {
				@apply flex
                flex-col
                md:flex-row
                items-center
                md:items-start
                justify-between
                space-y-2
                md:space-y-0
                md:col-span-2
                md:!mt-4;

				&__download {
					@apply text-ams-dark hover:text-ams-grey inline-flex flex-row gap-x-2 items-start;

					.brand-logo {
						@apply w-6 md:w-8 inline-block fill-current;
					}
				}
			}
		}
	}
}

/* Style default template */

.page-template-default {
	@apply w-screen bg-white;
	header {
		@apply py-4 lg:pt-16 px-8 xl:px-32;
		& > h1 {
			@apply text-3xl lg:text-6xl text-ams-cyan font-bold my-0;
		}
	}

	.content {
		@apply px-8
		xl:px-32
		prose-sm
		md:prose
		prose-headings:text-ams-cyan
		md:prose-headings:text-ams-cyan
		prose-headings:mt-0
		md:prose-headings:mt-0
		!max-w-full
		flex
		flex-col
		pt-4
		xl:relative
		before:hidden
        before:xl:block
        before:xl:absolute
        before:xl:top-48
        before:xl:left-0
        before:xl:!w-24
        before:xl:!h-48

        after:hidden
        after:xl:block
        after:xl:absolute
        after:xl:bottom-1/4
        after:xl:right-0
        after:xl:!w-24
        after:xl:!h-48;

		&:before,
		&:after {
			@apply bg-dots;
		}

		& > .wp-block-columns {
			@apply my-0 
			lg:gap-x-8
			xl:gap-x-16
			2xl:gap-x-32 
			-mx-8 
			px-8 
			xl:px-32 
			xl:-mx-32
			py-4;

			.wp-block-column {
				@apply space-y-2;

				> .wp-block-image {
					@apply my-0 mx-auto;
					img {
						@apply my-0 mx-auto;
					}
					.alignleft {
						@apply float-none ml-0 mr-auto my-0;
					}
					.alignright {
						@apply float-none mr-0 ml-auto my-0;
					}
				}

				>.wp-block-embed {
					.wp-block-embed__wrapper {
						iframe {
							@apply w-full md:min-h-[350px] lg:min-h-[250px] xl:min-h-[300px] 2xl:min-h-[450px] max-h-fit h-auto;
						}
					}
				}

				> .wp-block-group {
					.wp-block-group__inner-container {
						> .wp-block-image {
							@apply my-0 mx-auto;
							img {
								@apply my-0 mx-auto;
							}
							.alignleft {
								@apply float-none ml-0 mr-auto my-0;
							}
							.alignright {
								@apply float-none mr-0 ml-auto my-0;
							}
						}
						> .wp-block-columns {
							@apply my-0 lg:gap-x-8;
						}
					}
				}

				> .wp-block-columns {
					@apply my-0 lg:gap-x-8;
				}
			}
		}
	}
}

