body,
.theme-VU-AMS {
  @apply bg-white font-heebo xl:overflow-x-hidden;

  .releases {
    @apply prose-sm mx-auto !max-w-full md:prose;

    &__current {
      @apply space-y-2
            border-b
            border-ams-grey
            bg-ams-cyan py-4
            px-8
            text-center
            md:grid
            md:grid-cols-2
            md:space-y-0
            md:text-left;

      h3 {
        @apply mt-0 text-ams-dark;
      }

      & > a {
        @apply text-ams-dark hover:text-ams-grey md:mb-0 md:text-right;
      }

      .downloads {
        @apply flex
                flex-col
                items-center
                justify-between
                space-y-2
                md:col-span-2
                md:!mt-4
                md:flex-row
                md:items-start
                md:space-y-0;

        &__download {
          @apply inline-flex flex-row items-start gap-x-2 text-ams-dark hover:text-ams-grey;

          .brand-logo {
            @apply inline-block w-6 fill-current md:w-8;
          }
        }
      }
    }

    &__opener {
      @apply prose-sm
            flex
            !max-w-full
            select-none
            flex-row
            items-center
            justify-around
            bg-ams-cyan
            p-4
            md:prose
            md:justify-between
            md:py-4
            md:px-8;

      h3 {
        @apply !m-0 text-ams-dark;
      }

      .opener-btn {
        @apply transform transition-transform duration-100 ease-in-out hover:cursor-pointer;

        svg {
          @apply w-8 fill-ams-dark md:w-10;
        }

        &--rotated {
          @apply rotate-180 transform;
        }
      }
    }

    &__previous {
      @apply h-auto
            max-h-[500px]
            origin-top
            scale-y-100
            transform
            divide-y
            divide-ams-grey
            overflow-y-scroll
            bg-ams-dark
            transition-transform
            duration-100
            ease-in-out;

      &--closed {
        @apply h-0 scale-y-0 transform;
      }

      .release {
        @apply select-none space-y-2 py-4 px-8 text-center md:grid md:grid-cols-2 md:space-y-0;

        h4 {
          @apply mt-0 text-ams-grey md:!m-0;
        }

        & > a {
          @apply text-ams-grey hover:text-ams-cyan md:mb-0;
        }

        &__downloads {
          @apply flex
                    flex-col
                    items-center
                    justify-around
                    space-y-2
                    md:col-span-2
                    md:!mt-4
                    md:flex-row
                    md:items-start
                    md:space-y-0;

          a {
            @apply inline-flex
                        flex-row
                        items-center
                        gap-x-2
                        text-ams-grey
						hover:text-ams-cyan;

            .brand-logo {
              @apply inline-block w-6 fill-current md:w-8;
            }
          }
        }
      }
    }
  }

  .recent_software-release {
    @apply prose-sm mx-auto max-w-none md:prose md:max-w-none;

    &__inner {
      @apply space-y-2
            border-b
            border-ams-grey
            bg-ams-cyan py-4
            px-8
            text-center
            md:grid
            md:grid-cols-2
            md:space-y-0
            md:text-left;

      h3 {
        @apply mt-0 text-ams-dark;
      }

      & > a {
        @apply text-ams-dark hover:text-ams-grey md:mb-0 md:text-right;
      }

      .downloads {
        @apply flex
                flex-col
                items-center
                justify-between
                space-y-2
                md:col-span-2
                md:!mt-4
                md:flex-row
                md:items-start
                md:space-y-0;

        &__download {
          @apply inline-flex flex-row items-start gap-x-2 text-ams-dark hover:text-ams-grey;

          .brand-logo {
            @apply inline-block w-6 fill-current md:w-8;
          }
        }
      }
    }
  }

  .questions {
    @apply prose-sm
		grid
		max-w-none
		grid-flow-row
		auto-rows-auto 
		gap-y-2 
		py-8 
		text-ams-dark
		prose-headings:!text-ams-dark
		md:prose
		md:max-w-none
		md:grid-cols-2
		md:gap-x-4
		lg:gap-x-8
		lg:gap-y-4
		xl:gap-x-16
		xl:py-16
		2xl:gap-x-32;

    &__col {
      @apply grid 
	  grid-flow-row
	  auto-rows-max
	  divide-y
	  divide-ams-dark;

      .question {
        @apply relative
	  		box-border
			max-h-[55px]
			bg-ams-cyan
			px-6
			py-3
			transition-all
			duration-300
			after:absolute
			after:top-3
			after:right-6
			after:box-border
			after:inline-block
			after:h-4
			after:w-4
			after:origin-center
			after:rotate-45
			after:transform
			after:border-2
			after:border-ams-dark
			after:border-l-transparent
			after:border-t-transparent
			after:transition-transform
			after:duration-300
			after:content-[""]
			first-of-type:border-t-2
			first-of-type:border-t-ams-dark;

        &__title {
          @apply pointer-events-none 
		  m-0 
		  select-none;
        }

        &__answer {
          @apply max-h-0
		  overflow-hidden
		  bg-ams-grey
		  p-0
		  opacity-0
		  transition-all
		  duration-300
		  ease-in-out;
        }

        &--opened {
          @apply h-auto
			max-h-[1000px]
			after:translate-y-1/2
			after:-rotate-[135deg];
          .question__title {
            @apply mb-2;
          }

          .question__answer {
            @apply max-h-[1000px] 
			p-3
			opacity-100;
          }
        }
      }
    }
  }

  .old_software_releases {
    @apply prose-sm mx-auto max-w-none py-4 md:prose md:max-w-none;
    &__inner {
      @apply max-h-[350px] gap-y-2 divide-y-2 divide-ams-grey overflow-y-scroll;

      &::-webkit-scrollbar {
        @apply w-3.5 bg-ams-dark;
      }

      &::-webkit-scrollbar-track {
        @apply border-l bg-ams-cyan bg-opacity-60;
      }

      &::-webkit-scrollbar-thumb {
        @apply rounded-full bg-ams-cyan;
      }

      .release {
        @apply select-none 
			space-y-2 
			bg-ams-dark 
			py-4 
			px-8 
			text-center 
			md:grid 
			md:grid-cols-2 
			md:space-y-0;

        h3 {
          @apply mt-0 text-ams-grey md:!m-0;
        }

        & > a {
          @apply text-ams-grey hover:text-ams-cyan md:mb-0;
        }

        &__downloads {
          @apply flex
						flex-col
						items-center
						justify-around
						space-y-2
						md:col-span-2
						md:!mt-4
						md:flex-row
						md:items-start
						md:space-y-0;

          a {
            @apply inline-flex
							flex-row
							items-center
							gap-x-2
							text-ams-grey
							hover:text-ams-cyan;

            .brand-logo {
              @apply inline-block w-6 fill-current md:w-8;
            }
          }
        }
      }
    }
  }

  .wp-block-handpicked-products {
    .wc-block-grid__products {
      @apply !mx-0 grid grid-cols-1 gap-8 !px-0 before:hidden md:grid-cols-2 md:gap-8 lg:grid-cols-3 2xl:gap-16;
      .wc-block-grid__product {
        @apply prose-sm 
          float-none 
          m-0
          w-full
          border
          border-dashed
          border-ams-dark
          py-4
          px-4
          text-left
          shadow-lg
          md:prose
          md:py-8
          lg:py-4
          xl:shadow-xl
          2xl:p-8;

        .wc-block-grid__product-link {
          @apply no-underline;
          .wc-block-grid__product-image {
            @apply m-0 w-full object-contain;

            .attachment-woocommerce_thumbnail {
              @apply m-0 w-full object-contain;
            }
            .woocommerce-placeholder {
              @apply m-0 object-cover object-center;
            }
          }

          .wc-block-grid__product-title {
            @apply mt-4 mb-0 text-xl font-normal text-ams-cyan md:text-2xl md:font-bold;
          }
        }
        .wc-block-grid__product-price {
          @apply m-0 pb-4 pt-2 text-base;
          .amount {
            @apply text-ams-dark;
          }
        }

        .wc-block-grid__product-add-to-cart {
          @apply mb-0;
          .wp-block-button__link,
          .add_to_cart_button {
            @apply !mr-4 
            rounded-none 
            bg-ams-yellow 
            py-2 
            px-4 
            text-base
            text-ams-dark
            no-underline
            hover:bg-ams-dark
            hover:text-ams-grey
            xl:py-3
            xl:px-6;
          }
          .added_to_cart {
            @apply text-base text-ams-dark hover:text-ams-cyan;
          }
        }
      }
    }
  }
  .wp-block-woocommerce-all-products {
    .wc-block-grid { 
     
      .wc-block-sort-select,
      .wc-block-components-sort-select,
      .wc-block-product-sort-select,
      .wc-block-components-product-sort-select {
        .wc-block-sort-select__label,
        .wc-block-components-sort-select__label {
          @apply sr-only;
        }
        wc-block-sort-select__select,
          .wc-block-components-sort-select__select {
            @apply !border 
            !border-ams-dark 
            !bg-white
            focus:!border-transparent 
            focus:!ring-2 
            focus:!ring-ams-cyan;
          }
      }

      &__products {
        @apply !mx-0
        grid
        grid-cols-1
        gap-8
        !px-0
        before:hidden
        md:grid-cols-4
        md:gap-8
        lg:grid-cols-3
        2xl:gap-16;
      }

      .wc-block-grid__product {
        @apply prose-sm 
          float-none 
          m-0
          w-full
          border
          border-dashed
          border-ams-dark
          py-4
          px-4
          text-left
          shadow-lg
          md:prose
          md:py-8
          lg:py-4
          xl:shadow-xl
          2xl:p-8;

        .wc-block-components {
          &-product-image {
            @apply m-0;
            > a {
              img {
                @apply m-0 aspect-square w-full object-contain;
              }
            }
          }

          &-product-title {
            @apply mt-4 mb-0 text-xl font-normal text-ams-cyan md:text-2xl md:font-bold;
            .wc-block-components-product-name {
              @apply text-inherit no-underline;
            }
          }

          &-product-price {
            @apply m-0 pb-4 pt-2 text-base;
            .wc-block-formatted-money-amount {
              @apply text-ams-dark;
            }
          }
        }

        > .wp-block-button,
        > .wc-block-components-product-button {
          @apply mb-0;

          .wp-block-button__link,
          .add_to_cart_button {
            @apply !mr-4
            rounded-none
            bg-ams-yellow
            py-2
            px-4
            text-base
            text-ams-dark
            no-underline
            hover:bg-ams-dark
            hover:text-ams-grey
            xl:py-3
            xl:px-6;
          }
          .added_to_cart {
            @apply text-base text-ams-dark hover:text-ams-cyan;
          }
        }
      }
    }
  }
}

/* Style default template */

.page-template-default {
  @apply w-screen bg-white;
  header {
    @apply py-4 px-8 lg:pt-16 xl:px-32;
    & > h1 {
      @apply my-0 text-3xl font-bold text-ams-cyan lg:text-6xl;
    }
  }

  .content {
    @apply prose-sm
		flex
		!max-w-full
		flex-col
		px-8
		pt-4
		before:hidden
		after:hidden
		prose-headings:mt-0
		prose-headings:text-ams-cyan
		md:prose
		md:prose-headings:mt-0
		md:prose-headings:text-ams-cyan
		xl:relative
        xl:px-32
        before:xl:absolute
        before:xl:top-48
        before:xl:left-0
        before:xl:block
        before:xl:!h-48

        before:xl:!w-24
        after:xl:absolute
        after:xl:bottom-1/4
        after:xl:right-0
        after:xl:block
        after:xl:!h-48
        after:xl:!w-24;

    &:before,
    &:after {
      @apply bg-dots;
    }

    & > .wp-block-columns {
      @apply my-0 
			-mx-8
			px-8
			py-4 
			lg:gap-x-8 
			xl:-mx-32 
			xl:gap-x-16 
			xl:px-32
			2xl:gap-x-32;

      .wp-block-column {
        @apply space-y-2;

        > .wp-block-image {
          @apply my-0 mx-auto;
          img {
            @apply my-0 mx-auto;
          }
          .alignleft {
            @apply float-none my-0 ml-0 mr-auto;
          }
          .alignright {
            @apply float-none my-0 mr-0 ml-auto;
          }
        }

        > .wp-block-embed {
          .wp-block-embed__wrapper {
            iframe {
              @apply h-auto max-h-fit w-full md:min-h-[350px] lg:min-h-[250px] xl:min-h-[300px] 2xl:min-h-[450px];
            }
          }
        }

        > .wp-block-group {
          .wp-block-group__inner-container {
            > .wp-block-image {
              @apply my-0 mx-auto;
              img {
                @apply my-0 mx-auto;
              }
              .alignleft {
                @apply float-none my-0 ml-0 mr-auto;
              }
              .alignright {
                @apply float-none my-0 mr-0 ml-auto;
              }
            }
            > .wp-block-columns {
              @apply my-0 lg:gap-x-8;
            }
          }
        }

        > .wp-block-columns {
          @apply my-0 lg:gap-x-8;
        }
      }
    }
  }
}
