.get-a-quote {
    @apply bg-white w-screen;

    .header {
        @apply
        gap-y-24
        w-screen
        relative
        flex
        flex-col
        lg:flex-row
        justify-between
        items-center
        px-8
        xl:px-32
        lg:gap-x-16
        2xl:gap-x-[23.5rem]
        lg:my-32;

        &__left {
            @apply lg:basis-1/2 grow-0 shrink;

            .header {
                &__heading {
                    @apply text-3xl lg:text-6xl text-ams-cyan font-bold;
                }

                &__text {
                    @apply prose lg:prose-lg
                }
            }
        }

        &__right {
            @apply
            lg:basis-1/2
            bg-white
            grow-0
            shrink
            xl:p-16
            xl:shadow-2xl
            xl:relative
            xl:after:content-['']
            xl:after:absolute
            xl:after:inset-0
            xl:after:bg-black
            xl:after:opacity-10
            xl:after:-z-10
            xl:after:transform
            xl:after:origin-top-left
            xl:after:-rotate-2

            ;

            .wpcf7 {
                .wpcf7-form {
                    @apply flex flex-col gap-y-2;

                    .col-2 {
                        @apply xl:flex xl:flex-row lg:gap-x-2 xl:gap-x-4;

                        label {
                            @apply font-bold text-ams-dark leading-loose;

                            .wpcf7-form-control-wrap {
                                .wpcf7-form-control {
                                    @apply
                                    border
                                    border-black
                                    w-full
                                    border-opacity-25
                                    focus:border-transparent
                                    focus:ring-2
                                    focus:ring-ams-cyan;
                                }
                            }
                        }
                    }

                    > p {
                        label {
                            @apply font-bold text-ams-dark leading-loose;

                            .wpcf7-form-control-wrap {
                                .wpcf7-form-control {
                                    @apply
                                    border
                                    border-black
                                    border-opacity-25
                                    w-full
                                    focus:border-transparent
                                    focus:ring-2
                                    focus:ring-ams-cyan;
                                }

                                .wpcf7-not-valid {
                                    @apply !border-red-600 placeholder-red-400 !border-opacity-100;
                                }
                            }
                        }

                        &:last-of-type {
                            .wpcf7-submit {
                                @apply
                                bg-ams-cyan
                                w-full
                                text-center
                                py-4
                                text-lg
                                font-bold
                                text-ams-dark
                                ;
                            }
                        }
                    }

                    .wpcf7-response-output {
                        @apply border-red-400
                    }
                }
            }
        }
    }
}