.navigation {
    @apply
    hidden
    flex-row
    justify-between
    px-32
    items-center
    bg-gradient-to-r
    from-ams-cyan
    to-ams-dark
    xl:flex
    ;

    &--fixed {
        @apply fixed z-[9999] w-screen top-0;

        animation-name: flow-in;
        animation-duration: 1.5s;
        
        @keyframes flow-in {
            from {
                transform: translateY(-100%);
            }
            to{
                transform: translateY(0%);
            }
        }
    }

    .custom-logo-link {
        @apply grow-0 shrink-0;

        .custom-logo {
            @apply max-h-16 w-auto
        }
    }

    .navbar {
        @apply flex justify-between min-h-min;

        &__navigation {
            @apply flex justify-between gap-x-12 2xl:gap-x-16 grow-0 shrink-0;

            .menu-item {
                @apply text-white grow-0 shrink-0;

                a {
                    @apply font-normal text-base pr-5 py-8 block box-border leading-tight;
                }


                &-has-children {
                    @apply relative;

                    > a {
                        @apply relative
                        after:content-['']
                        after:absolute
                        after:w-3
                        after:h-3
                        after:border-b-2
                        after:border-r-2
                        after:transform
                        after:rotate-45
                        after:top-1/2
                        after:-translate-y-3/4
                        after:right-0
                        ;
                    }

                    .sub-menu {
                        @apply hidden absolute z-50 w-auto max-w-sm bg-ams-dark divide-y px-4;

                        > .menu-item {
                            @apply min-w-min;

                            a {
                                @apply min-w-min whitespace-pre text-left py-4 px-2;
                            }
                        }

                        &--show {
                            @apply block;
                            animation-name: flap-open;
                            animation-duration: .7s;

                            @keyframes flap-open {
                                from {
                                    transform: scaleY(0%);
                                    transform-origin: top;
                                }
                                to {
                                    transform: scaleY(100%);
                                    transform-origin: top;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &__cta {
        .wp-block-buttons {
            @apply inline-block;

            .wp-block-button {
                &__link {
                    @apply bg-ams-yellow rounded-none text-ams-dark font-bold font-heebo text-lg leading-normal;
                }
            }
        }
    }
}

/*style mobile menu from mobilemenu plugin*/

.mobmenu {
    @apply bg-gradient-to-r from-ams-cyan to-ams-dark font-heebo;
}

.mobmenu-overlay {
    @apply !bg-transparent;
}

.mob-right-alignment, .mobmenu-panel, .mobmenu-right-panel {
    @apply !transform !translate-x-0 !-translate-y-full !h-auto;

    .mobmenu-content {
        @apply
        !font-heebo
        !mt-4
        !mb-0
        !pb-4
        !pt-2
        ;

        .menu-main-container {
            ul {
                @apply divide-y !px-8;

                .menu-item {
                    -webkit-tap-highlight-color: transparent !important;

                    @apply px-0;

                    a {
                        @apply !text-base !font-normal px-0 !py-4;

                        .mob-expand-submenu {
                            @apply !right-[55%] md:!right-[80%] lg:!right-[85%] !ml-4;
                        }
                    }

                    .sub-menu {
                        @apply !bg-transparent !pr-0 !pl-4;

                        .menu-item {
                            @apply !px-0 !text-base;

                            &:first-of-type {
                                @apply !border-t;
                            }

                            a {
                                @apply !min-w-min !whitespace-pre-wrap !px-4 !text-sm;
                            }
                        }
                    }
                }
            }
        }
    }

    .mob-menu-right-bg-holder {
        @apply !bg-ams-dark !opacity-70;
    }
}

.mobmenu-right-panel {
    @apply !bg-transparent !w-full;
}

.mobmenu-right-alignment, .mobmenu-left-alignment {
    &.show-panel {
        @apply !transform !translate-y-0 !top-[72px];
    }
}

