.downloads {
    header {
        @apply py-4 px-8 md:px-8 lg:px-32 lg:pt-16 prose-sm md:prose !max-w-full;

        h1 {
            @apply font-bold text-3xl lg:text-6xl text-ams-cyan leading-loose;
        }
    }

    .header {
        @apply px-8
        py-4
        xl:px-32
        prose-sm
        md:prose
        flex
        flex-col
        md:flex-row
        justify-between
        items-center
        md:items-start
        !max-w-full;

        h2 {
            @apply my-0;
        }

        .btn {
            @apply px-4
            py-2
            md:px-8
            md:py-4
            max-w-max
            flex-grow-0
            bg-ams-yellow
            inline-block
            no-underline
            text-ams-dark
            text-base
            md:text-lg
            font-bold;
        }

        img {
            @apply w-32 md:w-72 xl:w-80;
        }
    }

    .releases {
        @apply prose-sm md:prose mx-auto !max-w-full px-8 xl:px-32 py-16;

        &__heading {
            @apply text-ams-cyan text-2xl md:text-3xl;
        }

        &__current {
            @apply
            bg-ams-cyan
            border-b
            border-ams-grey
            py-4 px-8
            space-y-2
            md:space-y-0
            md:grid
            md:grid-cols-2
            text-center
            md:text-left
            ;

            h3 {
                @apply mt-0 text-ams-dark;
            }

            & > a {
                @apply text-ams-dark md:mb-0 md:text-right;
            }

            .downloads {
                @apply flex
                flex-col
                md:flex-row
                items-center
                md:items-start
                justify-between
                space-y-2
                md:space-y-0
                md:col-span-2
                md:!mt-4;

                &__download {
                    @apply inline-flex flex-row gap-x-2 items-start;

                    .brand-logo {
                        @apply w-6 md:w-8 inline-block fill-ams-dark;
                    }
                }
            }
        }

        &__opener {
            @apply
            p-4
            bg-ams-cyan
            !max-w-full
            prose-sm
            md:prose
            flex
            flex-row
            justify-around
            items-center
            md:justify-between
            md:py-4
            md:px-8
            select-none
            ;

            h3 {
                @apply !m-0;
            }

            .opener-btn {
                @apply hover:cursor-pointer transform transition-transform ease-in-out duration-100;

                svg {
                    @apply w-8 md:w-10 fill-ams-dark;
                }

                &--rotated {
                    @apply transform rotate-180;
                }
            }
        }

        &__previous {
            @apply
            bg-ams-dark
            divide-y
            divide-ams-grey
            h-auto
            max-h-[500px]
            overflow-y-scroll
            transform
            scale-y-100
            transition-transform
            ease-in-out
            duration-100
            origin-top
            ;

            &--closed {
                @apply transform scale-y-0 h-0;
            }

            .release {
                @apply py-4 px-8 space-y-2 md:space-y-0 text-center md:grid md:grid-cols-2 select-none;

                h4 {
                    @apply mt-0 md:!m-0 text-ams-grey;
                }

                & > a {
                    @apply text-ams-grey md:mb-0;
                }

                &__downloads {
                    @apply flex
                    flex-col
                    md:flex-row
                    items-center
                    md:items-start
                    justify-around
                    space-y-2
                    md:space-y-0
                    md:col-span-2
                    md:!mt-4;

                    a {
                        @apply inline-flex
                        flex-row
                        gap-x-2
                        items-center
                        text-ams-grey;

                        .brand-logo {
                            @apply w-6 md:w-8 inline-block fill-ams-grey;
                        }
                    }
                }
            }
        }
    }

    .content {
        @apply prose-sm md:prose !max-w-full px-8 xl:px-32;

        .wp-block-columns {
            @apply lg:gap-x-16;

            .wp-block-column {
                .wp-block-group {
                    &__inner-container {

                        h1, h2, h3, h4, h5, h6 {
                            @apply text-ams-cyan;
                        }

                        .wp-block-file {
                            a {
                                &:not(.wp-block-file__button) {
                                    @apply hidden;
                                }
                            }

                            &__button {
                                @apply bg-ams-cyan px-4 md:px-8 py-2 md:py-4 text-base text-white rounded-none hover:bg-ams-dark;
                            }
                        }
                    }
                }
            }
        }

        > .wp-block-group {
            @apply pb-16;

            h1, h2, h3, h4, h5, h6 {
                @apply text-ams-cyan;
            }

        }
    }
}
