.downloads {
  header {
    @apply prose-sm !max-w-full py-4 px-8 md:prose md:px-8 lg:px-32 lg:pt-16;

    h1 {
      @apply text-3xl font-bold leading-loose text-ams-cyan lg:text-6xl;
    }
  }

  .header {
    @apply prose-sm
        relative
        flex
        !max-w-full
        flex-col
        items-center
        justify-between
        px-8
        py-4
        before:absolute
        before:top-0
        before:left-0
        before:hidden
        before:!h-48
        before:!w-24
        before:content-['']
        after:absolute
        after:bottom-0
        after:right-0
        after:hidden
        after:!h-48
        after:!w-24
        after:content-['']
        md:prose
        md:flex-row
        md:items-start
        xl:px-32
        before:xl:block
        after:xl:block;

    &:before,
    &:after {
      @apply bg-dots;
    }

    h2 {
      @apply my-0;
    }

    .btn {
      @apply inline-block
            max-w-max
            flex-grow-0
            bg-ams-yellow
            px-4
            py-2
            text-base
            font-bold
            text-ams-dark
            no-underline
            md:px-8
            md:py-4
            md:text-lg;
    }

    img {
      @apply w-32 md:w-72 xl:w-80;
    }
  }

  .content {
    @apply prose-sm
        relative
        !max-w-full
        px-8
        before:absolute before:top-0
        before:left-0
        before:hidden
        before:!h-48
        before:!w-24
        before:content-['']
        after:absolute
        after:bottom-16
        after:right-0
        after:hidden
        after:!h-48
        after:!w-24
        after:content-['']
        prose-headings:text-ams-cyan
        md:prose
        md:prose-headings:text-ams-cyan
        xl:px-32
        before:xl:block
        after:xl:block;

    &:before,
    &:after {
      @apply bg-dots;
    }

    >.wp-block-columns {
      @apply prose-sm
            -mx-8
            w-screen
            !max-w-[unset]
            px-8
            even:bg-[#f7f7f7]
            md:prose
            md:py-8
            lg:space-x-4
            xl:-mx-32
            xl:px-32
            xl:py-16
            2xl:space-x-8;

      .wp-block-column {
        h2 {
          @apply font-bold text-ams-cyan;
        }

        p {
          a {
            @apply font-semibold
                text-ams-cyan 
                md:hover:text-ams-dark;
          }
        }

        .wp-block-group {
          &__inner-container {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
              @apply text-ams-cyan;
            }

            .wp-block-file {
              a {
                &:not(.wp-block-file__button) {
                  @apply hidden;
                }
              }

              &__button {
                @apply rounded-none bg-ams-cyan px-4 py-2 text-base text-white hover:bg-ams-dark md:px-8 md:py-4;
              }
            }

            .wp-block-table {
                table {
                  @apply table-fixed border-separate border md:table-auto md:border-spacing-1;
      
                  thead, tbody {
                    tr {
                      td,
                      th {
                        @apply border border-ams-dark p-2 md:px-4 md:py-2;
                      }
                      th {
                        @apply whitespace-nowrap;
                      }
                    }
                  }
                }
              }
          }
        }
      }
    }

    > .wp-block-group {
      @apply pb-16;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @apply text-ams-cyan;
      }
    }
  }
}
