.software {
	@apply w-screen bg-white;

	header {
		@apply px-8 xl:px-32
        md:relative
        md:pt-16
        before:hidden
        before:xl:block
        before:absolute
        before:top-[40%]
        before:left-0
        before:!w-24
        before:!h-48
        before:content-[''];

		&:before {
			@apply bg-dots;
		}

		h1 {
			@apply text-3xl lg:text-6xl text-ams-cyan font-bold lg:col-span-full my-4 py-4;
		}

		& > .content {
			@apply prose-sm md:prose;
		}
	}

	& > .content {
		@apply prose-sm prose-headings:text-ams-cyan md:prose-headings:text-ams-cyan md:prose !max-w-full pt-16 py-4 px-8 xl:px-32;

		& > h2 {
			@apply px-8 xl:px-32;
		}

		.wp-block-columns {
			@apply px-8
            xl:px-32
            md:py-8 
            xl:py-16
			-mx-8
			xl:-mx-32
			w-screen
			lg:gap-x-16
            even:bg-[#f7f7f7];

			.wp-block-column {
				h2 {
					@apply font-bold;
				}

				p {
					a {
						@apply text-ams-cyan font-semibold;
					}
				}
			}
		}
	}
}

