.software {
	@apply w-screen bg-white;

	header {
		@apply px-8 xl:px-32
        md:relative
        md:pt-16
        before:hidden
        before:xl:block
        before:absolute
        before:top-[40%]
        before:left-0
        before:!w-24
        before:!h-48
        before:content-[''];

		&:before {
			@apply bg-dots;
		}

		h1 {
			@apply text-3xl lg:text-6xl text-ams-cyan font-bold lg:col-span-full my-4 py-4;
		}

		& > .content {
			@apply prose-sm md:prose;
		}
	}

	& > .content {
		@apply prose-sm prose-headings:text-ams-cyan md:prose-headings:text-ams-cyan md:prose !max-w-full lg:pt-16 pt-8 px-8 xl:px-32;

		& > h2 {
			@apply my-0;
		}

		.releases {
			@apply py-4 md:py-6 xl:py-8;
		}

		.wp-block-columns {
			@apply px-8
            xl:px-32
            md:py-8 
            xl:py-16
			-mx-8
			xl:-mx-32
			w-screen
			lg:gap-x-16
			odd-of-type:bg-ams-grey;

			.wp-block-column {
				h2 {
					@apply font-bold;
				}

				p {
					a {
						@apply text-ams-cyan font-semibold;
					}
				}
				.wp-block-group {
					&__inner-container {
						.wp-block-file {
							a {
								&:not(.wp-block-file__button) {
									@apply sr-only;
								}
							}

							&__button {
								@apply bg-ams-cyan
								px-4
								md:px-8
								py-2
								md:py-4
								text-base
								text-white
								rounded-none
								hover:bg-ams-dark;
							}
						}
					}
				}
			}
		}
	}
}

