.publications {
  @apply w-screen bg-white;

  .header {
    @apply px-8 pt-8 md:pt-16 xl:px-32;

    h1 {
      @apply py-4 text-3xl font-bold text-ams-cyan lg:text-6xl;
    }
  }

  .publications__content {
    @apply 
	prose-sm 
	max-w-none 
	px-8 
	md:prose 
	md:max-w-none 
	xl:px-32
	prose-headings:text-ams-cyan
	prose-a:text-ams-cyan
	md:prose-a:text-ams-cyan
	hover:prose-a:text-ams-dark;
  }

  #pubForm {
    @apply w-full md:px-8 xl:px-32;

    .pub-table {
      @apply w-full table-fixed md:table-auto;

      &__head {
        tr {
          &:nth-of-type(1) {
            td {
              @apply py-4;

              input {
                @apply w-full
                                border-[0.5px]
                                border-[#707070]
                                font-normal
                                placeholder-ams-dark
                                placeholder-opacity-40
                                md:w-11/12
                                    md:px-8;
              }

              select {
                @apply w-full
                                border-[0.5px]
                                border-[#707070]
                                text-ams-dark
                                text-opacity-40
                                md:w-auto
                                md:min-w-min;
              }
            }
          }

          &:nth-of-type(2) {
            @apply divide-x divide-ams-text_light bg-ams-dark text-white;

            td {
              @apply py-4 px-4 text-sm first-of-type:hidden md:text-base first-of-type:md:table-cell;
            }
          }
        }
      }

      &__body {
        @apply divide-y md:shadow-2xl;

        tr {
          @apply divide-x;

          td {
            @apply p-4
                        align-top
                        text-sm
                        first-of-type:hidden
                        first-of-type:bg-[#CCA509]
                        first-of-type:p-0
                        md:text-base
                        first-of-type:md:table-cell;

            &:nth-child(2) {
              @apply prose-sm md:prose md:px-16;

              a {
                @apply no-underline;

                .pub-title {
                  @apply my-0 font-bold line-clamp-1;
                }
              }

              .pub-excerpt {
                @apply text-sm font-light text-ams-text_light line-clamp-2 md:line-clamp-3;

                & > p {
                  @apply my-[unset] leading-7;
                }
              }
            }
          }

          &:nth-child(odd) {
            & > td {
              &:nth-child(1) {
                @apply bg-ams-yellow;
              }
            }
          }
        }
      }

      &__foot {
        td {
          @apply first-of-type:hidden first-of-type:md:table-cell;
        }

        .pagination-cell {
          @apply py-8;

          .pagination {
            @apply flex max-w-full items-center justify-center space-x-1 md:space-x-4;

            .prev {
              svg {
                @apply w-4 rotate-180 transform fill-[#707070];
              }
            }

            &-dots {
              @apply self-end;
            }

            .current,
            a:not(.next, .prev) {
              @apply py-2 px-3 text-ams-dark shadow-[0_0_6px_#0000006A] md:py-2 md:px-4;
            }

            .current {
              @apply bg-ams-cyan;
            }

            .next {
              svg {
                @apply w-4 fill-[#707070];
              }
            }
          }
        }
      }
    }
  }
}
