.single-project {
	@apply bg-white w-screen;

	.project {
		header {
			@apply px-8 xl:px-32 lg:pt-16;
			&>h1 {
				@apply my-0 
				text-3xl
				font-bold
				text-ams-cyan
				lg:text-6xl
			}
		}
		article {
			@apply prose-sm
			flex
			!max-w-full
			flex-col
			px-8
			pt-4
			before:hidden
			after:hidden
			prose-headings:mt-0
			prose-headings:text-ams-cyan
			md:prose
			md:prose-headings:mt-0
			md:prose-headings:text-ams-cyan
			prose-a:text-ams-cyan
			md:prose-a:text-ams-cyan
			hover:prose-a:text-ams-dark
			xl:relative
			xl:px-32
			before:xl:absolute
			before:xl:top-48
			before:xl:left-0
			before:xl:block
			before:xl:!h-48
	
			before:xl:!w-24
			after:xl:absolute
			after:xl:bottom-1/4
			after:xl:right-0
			after:xl:block
			after:xl:!h-48
			after:xl:!w-24;
	
		&:before,
		&:after {
		  @apply bg-dots;
		}
	
		& > .wp-block-columns {
		  @apply my-0 
				-mx-8
				px-8
				py-4 
				lg:gap-x-8 
				xl:-mx-32 
				xl:gap-x-16 
				xl:px-32
				2xl:gap-x-32;
	
		  .wp-block-column {
			@apply space-y-2;
	
			> .wp-block-image {
			  @apply my-0 mx-auto;
			  img {
				@apply my-0 mx-auto;
			  }
			  .alignleft {
				@apply float-none my-0 ml-0 mr-auto;
			  }
			  .alignright {
				@apply float-none my-0 mr-0 ml-auto;
			  }
			}
	
			> .wp-block-embed {
			  .wp-block-embed__wrapper {
				iframe {
				  @apply h-auto max-h-fit w-full md:min-h-[350px] lg:min-h-[250px] xl:min-h-[300px] 2xl:min-h-[450px];
				}
			  }
			}
	
			> .wp-block-group {
			  .wp-block-group__inner-container {
				> .wp-block-image {
				  @apply my-0 mx-auto;
				  img {
					@apply my-0 mx-auto;
				  }
				  .alignleft {
					@apply float-none my-0 ml-0 mr-auto;
				  }
				  .alignright {
					@apply float-none my-0 mr-0 ml-auto;
				  }
				}
				> .wp-block-columns {
				  @apply my-0 lg:gap-x-8;
				}
			  }
			}
	
			> .wp-block-columns {
			  @apply my-0 lg:gap-x-8;
			}
		  }
		}
		}
	}
}