.teampage {
  @apply w-screen bg-white;

  .header {
    @apply py-4 px-8 md:px-8 lg:px-32 lg:pt-16;

    h1 {
      @apply text-3xl font-bold leading-loose text-ams-cyan lg:text-6xl;
    }
  }

  .team {
    @apply px-8
        md:px-8
        lg:px-32
        lg:pb-16
		prose-sm
		max-w-none
		md:prose
		md:max-w-none;

    .role {
      &:nth-child(1) {
        .role__info {
          h2 {
            @apply mt-0;
          }
        }
      }
      &__info {
        @apply prose-sm 
			max-w-none 
			prose-headings:text-ams-dark 
			md:prose 
			md:max-w-none;
      }
      &__members {
        @apply grid
			auto-rows-fr
			grid-cols-1
			gap-8
			lg:grid-cols-2
			xl:grid-cols-3
			2xl:gap-16;

        .member {
          @apply grid
			grid-flow-row
			auto-rows-max
			border
			border-dashed
			border-ams-dark
			shadow-xl;

          &__img-section {
            @apply flex
				shrink-0
				grow
				items-end
				justify-center
				bg-gradient-to-r
				from-ams-cyan
				to-ams-dark
				pt-8
				md:pt-16
				lg:pt-20;

            img {
              @apply h-52
				w-52
				rounded-full
				border-[6px]
				border-white
				object-cover
				object-center
				md:h-60
				md:w-60;
            }
          }

          &__text-section {
            @apply prose-sm
			shrink
			grow 
			basis-1/2 
			px-8 
			py-8 
			text-center 
			md:prose 
			md:max-w-none;

            .member__name {
              @apply m-0 
				min-h-min 
				text-2xl 
				font-bold
				2xl:text-3xl
				;
            }

            .member__text {
              @apply relative
				max-h-36
				overflow-hidden
				text-ams-text_light
				after:absolute
				after:inset-x-0
				after:bottom-0
				after:h-1/5
				after:bg-gradient-to-b
				after:from-transparent
				after:to-white
				after:content-[""]
				transition-all
				ease-in-out
				duration-500;

				&--opened {
					@apply max-h-screen
					after:hidden;
				}

              h2 {
                @apply m-0 
					text-xl 
					font-normal 
					leading-loose 
					text-black 
					2xl:text-2xl
					;
              }
            }

			.member__read-more {
				@apply text-ams-cyan text-xl xl:text-lg py-4 xl:hover:text-ams-dark;
			}
          }
        }
      }
    }
  }
}
